body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  height: calc(100% - 2em);
  overflow-y: auto;
}

#status {
  padding: 1em;
  width: 100%;
  background: #f1f1f1;
  display: flex;
  box-sizing: border-box;
}

.container > div {
  padding: 0.5em;
  margin: 0.5em;
  background: #ffffff;
}

.container > div h3 {
  color: #3d6db7;
  margin-top: 0.5em;
  /*padding-top: 0;*/
}

.toolbar {
  width: 100%;
  height: 32px;
}

textarea {
  width: 100%;
  height: calc(1.2em * 8);
}

#bitcoin-script-pubkey-address,
#bitcoin-script-pubkey-hex {
  width: 100%;
  height: 1.8em;
}

textarea {
  font-family: monospace;
  word-wrap: anywhere;
  font-size: 12pt;
  resize: none;
}

#status,
.ast {
  font-family: monospace;
  word-wrap: break-word;
  overflow: auto;
}

#output-ast li {
  word-wrap: break-word;
}
